
body {
  background-color: rgb(235, 232, 248);
  border-radius: 10px;
}

hr {
  border-width: 5px;
  margin-block-start: 5%;
}

h2 {
  margin-left: 3%;
}

h3 {
    margin-left: 5%;
  }
  
  p {
    margin-left: 5%;
    font-size: 20px;
  }

  a {
    text-decoration: none;
    color: rgb(54, 22, 238);
  }

  button {
    margin-left:5%;
    width: 12%;
    padding: 7px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
  }
  