h3 {
    margin-left: 5%;
  }
  
  p {
    margin-left: 5%;
    font-size: 20px;
  }

  button {
    margin-left:5%;
    width: 12%;
    padding: 7px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 20px;
  }